In [330]:
pip install geopy

Requirement already satisfied: geopy in c:\users\andyc\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\andyc\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.point import Point
import numpy as np

In [ ]:
movies = pd.read_csv('title.basics.tsv/data.tsv', sep='\t')
display(movies)
movies = movies[(movies.isAdult == '0') | (movies.isAdult == 0)]
movies = movies[movies.titleType == 'movie']
movies = movies.drop(columns=['titleType', 'originalTitle', 'isAdult', 'endYear'])
movies = movies.rename(columns={"tconst": "movieID", "primaryTitle": "title", "startYear": "year", "runtimeMinutes": "runtime"})
movies['title'] = movies.title.str.replace(r"\\N", '')
movies['year'] = movies.year.str.replace(r"\\N", '')
movies['runtime'] = movies.runtime.str.replace(r"\\N", '')

In [3]:
genres = movies.set_index('MovieID').genres.str.split(',', expand=True).stack().reset_index('MovieID')
genres = genres.rename(columns={0: "Genre"})
genres = genres[genres.Genre != "\\N"]
display(genres)

In [4]:
movies = movies.drop(columns=['genres'])
budrev = pd.read_csv('/content/gdrive/My Drive/Databases Project/Phase C/raw data files/tmdb_movies_data.csv', sep=',')
keywords = budrev.drop(columns=['id','popularity','budget','revenue','original_title','cast','homepage','director','tagline','overview','runtime','genres','production_companies','release_date','vote_count','vote_average','release_year','budget_adj','revenue_adj'])
budrev = budrev.drop(columns=['id','popularity','original_title','cast','homepage','director','tagline','overview','runtime','genres','production_companies','release_date','vote_count','vote_average','release_year','keywords'])
display(keywords)
budrev = budrev.rename(columns={"imdb_id": "movieID"})
budrev = pd.merge(movies, budrev, how='left').replace({np.nan: ''})
budrev.to_csv('/content/gdrive/My Drive/Databases Project/Phase C/movie.txt', sep='\t', index=False)
display(budrev)

,movieID,title,year,runtime,genres
498,tt0000502,Bohemios,1905,100,\N
570,tt0000574,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography"
610,tt0000615,Robbery Under Arms,1907,\N,Drama
625,tt0000630,Hamlet,1908,\N,Drama
668,tt0000675,Don Quijote,1908,\N,Drama
...,...,...,...,...,...
7703363,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,57,Documentary
7703390,tt9916680,De la ilusión al desconcierto: cine colombiano...,2007,100,Documentary
7703402,tt9916706,Dankyavar Danka,2013,\N,Comedy
7703413,tt9916730,6 Gunn,2017,116,\N
7703424,tt9916754,Chico Albuquerque - Revelações,2013,49,Documentary

In [ ]:
keywords = keywords.rename(columns={"imdb_id": "movieID"})
keywords = pd.merge(movies, keywords).replace({np.nan: ''})
keywords = keywords.drop(columns=['title', 'year', 'runtime'])
keywords = keywords.set_index('movieID').keywords.str.split('|', expand=True).stack().reset_index('movieID')
keywords = keywords.rename(columns={0: "keyword"})
display(keywords)
keywords.to_csv('/content/gdrive/My Drive/Databases Project/Phase C/keywords.txt', sep='\t', index=False)

In [74]:
movielocations = pd.read_csv('IMDB-Location.list-Parser/movies.csv', header=None,skiprows = 1,sep='|', names=['title','year','a','b','c','location'])
display(movielocations)
movielocations = movielocations.drop(columns=['a','b','c'])
movielocations['year'] = movielocations['year'].fillna(0)
movielocations['year'] = movielocations['year'].astype(int)
movies['year'] = movies['year'].apply(pd.to_numeric, errors='coerce').dropna().astype(int)
movielocations = pd.merge(movies, movielocations)
movielocations = movielocations.drop(columns=['runtime','genres','title','year'])

Los Angeles, California, USA                 20116
New York City, New York, USA                 10945
Mexico                                        7656
London, England, UK                           6428
Paris, France                                 4459
Toronto, Ontario, Canada                      4283
USA                                           3866
Berlin, Germany                               3625
Vancouver, British Columbia, Canada           3068
Chicago, Illinois, USA                        2956
San Francisco, California, USA                2859
Buenos Aires, Federal District, Argentina     2805
Madrid, Spain                                 2776
Montréal, Québec, Canada                      2254
Hollywood, Los Angeles, California, USA       2234
Rome, Lazio, Italy                            2093
New York, USA                                 2028
California, USA                               1837
Las Vegas, Nevada, USA                        1757
Barcelona, Catalonia, Spain                   1640
Name: location, dtype: int64

In [107]:
location = geolocator.geocode("Toronto, Ontario, Canada")
location = geolocator.reverse(str(location.latitude)+","+str(location.longitude))
address = location.raw['address']
print(address)
city = address.get('city', '')
state = address.get('state', '')
country = address.get('country', '')
print('Address :', location)
print('City : ', city)
print('State : ', state)
print('Country : ', country)

{'amenity': 'Toronto City Hall', 'house_number': '100', 'road': 'Queen Street West', 'neighbourhood': 'Financial District', 'quarter': 'Spadina—Fort York', 'city': 'Old Toronto', 'state_district': 'Golden Horseshoe', 'state': 'Ontario', 'postcode': 'M5H 2N2', 'country': 'Canada', 'country_code': 'ca'}
Address : Toronto City Hall, 100, Queen Street West, Financial District, Spadina—Fort York, Old Toronto, Toronto, Golden Horseshoe, Ontario, M5H 2N2, Canada
City :  Old Toronto
State :  Ontario
Country :  Canada

In [5]:
movielocations = pd.read_csv('shootinglocation.txt', sep='\t')

C:\Users\andyc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,movieID,locationListing,rawAddress,city,state,country
0,tt0000574,"Eltham, Victoria, Australia","Eltham, Youth Road, Eltham, Melbourne, Shire o...",Melbourne,Victoria,Australia
1,tt0000574,"Greensborough, Victoria, Australia","Greensborough, Poulter Avenue, Greensborough, ...",Melbourne,Victoria,Australia
2,tt0000574,"Heidelberg, Victoria, Australia","Heidelberg, Melbourne, City of Banyule, Victor...",Melbourne,Victoria,Australia
3,tt0000574,"Melbourne, Victoria, Australia","Melbourne, City of Melbourne, Victoria, Australia",Melbourne,Victoria,Australia
4,tt0000574,"Mitcham, Victoria, Australia","Mitcham, Box Hill to Ringwood Trail, Mitcham, ...",Melbourne,Victoria,Australia
...,...,...,...,...,...,...
165495,tt1156524,"Cutler Majestic Theater, Emerson College - 120...","Cutler Majestic Theater, Emerson College - 120...",NaN,NaN,NaN
165496,tt1157547,"Vienna, Austria","Vienna, Austria",NaN,NaN,NaN
165497,tt1157601,"Marseille, Bouches-du-Rhône, France","Marseille, Bouches-du-Rhône, France",NaN,NaN,NaN
165498,tt1157601,"Miami Beach, Florida, USA","Miami Beach, Florida, USA",NaN,NaN,NaN
165499,tt1157601,"Los Angeles, California, USA","Los Angeles, California, USA",NaN,NaN,NaN

In [ ]:
movielocations = movielocations.drop(columns=['a','b','c'])
movielocations['year'] = movielocations['year'].fillna(0)
movielocations['year'] = movielocations['year'].astype(int)
movies['year'] = movies['year'].apply(pd.to_numeric, errors='coerce').dropna().astype(int)
movielocations = pd.merge(movies, movielocations)
movielocations = movielocations.drop(columns=['runtime','genres','title','year'])
movielocations.rename(columns={"location": "locationListing", "address": "rawAddress"})
movielocations['rawAddress'] = movielocations['locationListing']
movielocations['city'] = ''
movielocations['state'] = ''
movielocations['country'] = ''

In [ ]:
geolocator = Nominatim(user_agent="moviedatabase")
for index, row  in movielocations[191030:].iterrows():
    if index % 5000 == 0:
        print(index)
        finallocations = movielocations.rename(columns={"location": "locationListing", "address": "rawAddress"})
        finallocations.to_csv('shootinglocation.txt', sep='\t', index=False)
    location = geolocator.geocode(row['locationListing'], language='en',timeout=None)
    row['rawAddress'] = location
    if hasattr(location,'latitude') and location.latitude is not None and hasattr(location,'longitude') and location.longitude is not None:
        location = geolocator.reverse((location.latitude, location.longitude), language='en',timeout=None)
        if hasattr(location,'raw') and location.raw is not None:
            address = location.raw['address']
            city = address.get('city', '')
            state = address.get('state', '')
            country = address.get('country', '')
            row['city'] = city
            row['state'] = state
            row['country'] = country

195000
200000
205000
210000
215000
220000
225000

In [ ]:
finallocations = movielocations.rename(columns={"location": "locationListing", "address": "rawAddress"})
finallocations.to_csv('shootinglocation.txt', sep='\t', index=False)

In [44]:
movielocations[0:191040]

,movieID,locationListing,rawAddress,city,state,country
0,tt0000574,"Eltham, Victoria, Australia","Eltham, Youth Road, Eltham, Melbourne, Shire o...",Melbourne,Victoria,Australia
1,tt0000574,"Greensborough, Victoria, Australia","Greensborough, Poulter Avenue, Greensborough, ...",Melbourne,Victoria,Australia
2,tt0000574,"Heidelberg, Victoria, Australia","Heidelberg, Melbourne, City of Banyule, Victor...",Melbourne,Victoria,Australia
3,tt0000574,"Melbourne, Victoria, Australia","Melbourne, City of Melbourne, Victoria, Australia",Melbourne,Victoria,Australia
4,tt0000574,"Mitcham, Victoria, Australia","Mitcham, Box Hill to Ringwood Trail, Mitcham, ...",Melbourne,Victoria,Australia
...,...,...,...,...,...,...
191035,tt1645916,"Dublin, County Dublin, Ireland","Dublin, County Dublin, Ireland",NaN,NaN,NaN
191036,tt1645916,Luxembourg,Luxembourg,NaN,NaN,NaN
191037,tt1645940,"Manhattan, New York City, New York, USA","Manhattan, New York City, New York, USA",NaN,NaN,NaN
191038,tt1645940,"Marine Park, Brooklyn, New York City, New York...","Marine Park, Brooklyn, New York City, New York...",NaN,NaN,NaN
191039,tt1645940,"New York City, New York, USA","New York City, New York, USA",NaN,NaN,NaN

In [ ]:
person = pd.read_csv('name.basics.tsv/persondata.tsv', sep='\t')
display(person)
person = person.drop(columns=['deathYear','primaryProfession','knownForTitles'])
person = person.rename(columns={'nconst': 'personID', 'primaryName': 'name', 'birthYear': 'birthYear'})
person['birthYear'] = person.birthYear.str.replace(r"\\N", '')
display(person)
person.to_csv('person.txt', sep='\t', index=False)

In [5]:
starring = pd.read_csv('title.principals.tsv/data.tsv', sep='\t')
display(starring)
starring = starring[(starring.category == 'actor') | (starring.category == 'actress')]
starring = starring.rename(columns={'tconst': "movieID", 'nconst': 'personID'})
starring = pd.merge(starring, movies)
starring = starring.drop(columns=['ordering', 'category', 'job', 'title', 'year', 'runtime', 'genres', 'birthYear'])
starring['characters'] = starring.characters.str.replace('\\["', '').str.replace('\\"]', '').str.replace('","', ',')
starring = starring.set_index(['movieID', 'personID', 'name']).apply(lambda x: x.str.split(',').explode()).reset_index()   
starring = starring.rename(columns={'characters': 'role'})
starring['role'] = starring.role.str.replace(r"\\N", '')
starring.to_csv('starring.txt', sep='\t', index=False)
display(starring)

C:\Users\andyc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
43906464,tt9916880,5,nm0996406,director,principal director,\N
43906465,tt9916880,6,nm1482639,writer,\N,\N
43906466,tt9916880,7,nm2586970,writer,books,\N
43906467,tt9916880,8,nm1594058,producer,producer,\N
43906468,tt9916880,9,nm1052583,actress,\N,"[""Mum"",""Tidy Ted"",""Fang""]"

In [ ]:
directedby = pd.read_csv('/content/gdrive/My Drive/Databases Project/Phase C/raw data files/directors.tsv', sep='\t')
display(directedby)
directedby = directedby.drop(columns=['writers'])
directedby = directedby.rename(columns={'tconst': "movieID", 'directors': 'personID'})
directedby = pd.merge(directedby, movies)
directedby = directedby.drop(columns=['title','year','runtime','genres'])
directedby = directedby.set_index('movieID').personID.str.split(',', expand=True).stack().reset_index('movieID')
directedby = directedby.rename(columns={0: "personID"})
directedby = pd.merge(directedby, person)
directedby = directedby.drop(columns=['birthYear'])
display(directedby)
directedby.to_csv('/content/gdrive/My Drive/Databases Project/Phase C/directedby.txt', sep='\t', index=False)

In [ ]:
ranking = pd.read_csv('tspdt1000.csv', sep=',', encoding='latin-1')
display(ranking)
ranking = ranking[['Const', 'Position']]
ranking = ranking.rename(columns={"Const": "movieID", "Position": "ranking"})
display(ranking)
ranking.to_csv('ranking.txt', sep='\t', index=False)